



.text{
  display: flex;
}



.textButton{
position: absolute;
width: 100%;
display:flex;
justify-content: center;
padding-top: 7%;
font-size: 300%;
}



button{
  background:  rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border:none
  
  
  }

  button:hover  {
    color:black;
    background:  rgba(255, 255, 255, 0.3);
    
}

.totalImage{
  
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  
}

.img1, .img2, .img3 {
  /* opacity: 0.5; */
 
  width: 340px;
  
  box-shadow: 0px 0px 5px 0px #666;
}

.card1, .card2, .card3{
  margin: 0 2% 0 2%;
  border-style: solid;
  width: 350px;
  height: 500px;
  display: inline;
  background-color: #e4fde125;
  border-radius: 1em;
  box-shadow: 1px 1px 11px 1px #bbb;
  line-height: 2em;
  border-width: 1px;
  
  
}
.card1:hover{
background-color: rgb(211, 211, 193);
}
.card2:hover{
  background-color: rgb(211, 211, 193);
  }
  .card3:hover{
    background-color: rgb(211, 211, 193);
    }
.cardTitle{
  font-size: 160%;
  font-weight: bold;
  margin: 6% 0 6% 0;
  font-family: "Kanit", sans-serif;
} 
.cardText{
  margin: 2% 2% 0 2%;
  font-family: "Poppins", sans-serif;
} 
p{
  margin-top: auto;
  margin-bottom: auto;
  
}

body {
  background-image: url("../../Assets/3459069-01.svg");

}
.carousel-item{
  height: 450px;
}

