body {
  margin-top: 2rem;
  background-image: url("../../Assets/3459069-01.svg");
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  grid-gap: 10px;
  margin: 1rem 3rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  margin-top: 2%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-radius: 50%;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  margin: 20px;
  background: #cfcec9; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .5s; /* 0.2 seconds transition on hover */
  transition: opacity .5s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background:transparent; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border:solid;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #20333B; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* #avaiableFonts {
  font-family: "Blinker", sans-serif;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
} */

.abvContainer, .ibuContainer, .ebcContainer{
  width: 33%;
  display: grid;
  justify-items: center;
}

#myRange1{
background: rgb(255,255,190);
background: -moz-linear-gradient(90deg, rgba(255,255,190,1) 0%, rgba(234,247,102,1) 50%, rgba(255,245,38,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,190,1) 0%, rgba(234,247,102,1) 50%, rgba(255,245,38,1) 100%);
background: linear-gradient(90deg, rgba(255,255,190,1) 0%, rgba(234,247,102,1) 50%, rgba(255,245,38,1) 100%);
}

#myRange2{
background: rgb(215,250,194);
background: -moz-linear-gradient(90deg, rgba(215,250,194,1) 0%, rgba(154,227,120,1) 50%, rgba(90,199,62,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(215,250,194,1) 0%, rgba(154,227,120,1) 50%, rgba(90,199,62,1) 100%);
background: linear-gradient(90deg, rgba(215,250,194,1) 0%, rgba(154,227,120,1) 50%, rgba(90,199,62,1) 100%);
}

#myRange3{
  background: rgb(217,196,173);
  background: -moz-linear-gradient(90deg, rgba(217,196,173,1) 0%, rgba(150,45,0,1) 50%, rgba(54,8,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(217,196,173,1) 0%, rgba(150,45,0,1) 50%, rgba(54,8,0,1) 100%);
  background: linear-gradient(90deg, rgba(217,196,173,1) 0%, rgba(150,45,0,1) 50%, rgba(54,8,0,1) 100%);
}

.abvSpan, .ibuSpan, .ebcSpan{
  width: 80%;
  display: flex;
  align-items: center;
  color: #8e8e8e;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.beerNumber{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding-top: 0.4rem;
  margin: 0.5rem 0.5rem;
  font-size: 28px;
  color: #648381;
  text-shadow: 1px 1px 2px #ccc;
}

.exactNumber{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding-top: 0.4rem;
  margin: 0.5rem 0.5rem;
  font-size: 28px;
  color: #9b3333;
  text-shadow: 1px 1px 2px #ccc;
}

.abvTitle, .ibuTitle, .ebcTitle{
  display: flex;
  align-items: center;
  color:  #648381;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.abvNumber, .ibuNumber, .ebcNumber {
  display: flex;
  align-items: center;
  color: #9b3333;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    display: block;
    margin-top: 2%;
  }
  .abvContainer, .ibuContainer, .ebcContainer{
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .cardContainer {
    height: 360px;
    width: 95%;
    border-radius: 1rem;
    border: solid 0.5px #d2d2d238;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
.product-img {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 10px;
}
.product-img img{
  width: 100%;
}

.product-info {
  float: left;
  height: 360px;
  width: 75%;
  border-radius: 1rem;
  background-color: #fafafa82;
  border: solid 0.5px #d2d2d238;
}


.product-text {
    height: 300px;
    width: 100%;
    /* padding: 1rem; */
}

.beerIndicators {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  font-family: "Do Hyeon", sans-serif;
  color: #648381;
  margin-top: 1.5rem;
  letter-spacing: 0.05em;
}
.cardsGrid {
  display: grid;
  grid-template-columns: none;
  grid-gap: 10px;
  margin: 1rem 0.5rem;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    display: block;
    margin-top: 2%;
  }
  .abvContainer, .ibuContainer, .ebcContainer{
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .cardContainer {
    height: 360px;
    width: 600px;
    border-radius: 1rem;
    border: solid 0.5px #d2d2d238;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
.cardsGrid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(620px, 1fr)); */
  grid-gap: 10px;
  margin: 1rem 0.5rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    display: block;
    margin-top: 2%;
  }
  .abvContainer, .ibuContainer, .ebcContainer{
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .cardContainer {
    height: 360px;
    width: 600px;
    border-radius: 1rem;
    border: solid 0.5px #d2d2d238;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
.cardsGrid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(620px, 1fr)); */
  grid-gap: 10px;
  margin: 1rem 0.5rem;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .abvContainer, .ibuContainer, .ebcContainer{
    width: 33%;
    display: grid;
    justify-items: center;
  }
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    margin-top: 2%;
  }
  .cardContainer {
    height: 360px;
    width: 600px;
    border-radius: 1rem;
    border: solid 0.5px #d2d2d238;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .abvContainer, .ibuContainer, .ebcContainer{
    width: 33%;
    display: grid;
    justify-items: center;
  }
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    margin-top: 2%;
  }
  .cardContainer {
    height: 360px;
    width: 600px;
    border-radius: 1rem;
    border: solid 0.5px #d2d2d238;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
}