.navbar {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top right, #cccccc 26%, #aaaaaa 59%);
}

#buttonGo {
  background-color: #444;
  padding: 6px 0 0 9px;
  width: 40px;
  margin: 0 0 0 0;

  position: absolute;
  top: 0;
  right: 0;
}

#searchFieldContainer {
  margin: 0;
  position: relative;
}

#searchfield {
  width: 270px;
}

#navbar #nav-div a:focus,
#nav-div a:active {
  background-color: #eee;
  box-shadow: 0px 1px 4px 0px #51585e;
  color: #000;
}

#navbar a:hover span,
#navbar a:focus span {
  color: black;
}

#navbar #nav-div a:hover {
  box-shadow: 0px 0px 1px 0px #51585e;
}

#logo-navbar {
  height: 60px;
  width: 60px;
}
